<script
  src="https://code.jquery.com/jquery-3.4.0.slim.js"
  integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!doctype html>
<html lang="jp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">

          <img src="../../assets/images/logo.png" class ="w-25" alt="">

        </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav ml-auto">

      <a class="nav-item mr-auto nav-link active" href="#">ダッシュボード <span class="sr-only">(current)</span></a>

      <a class="nav-item nav-link" href="#">チケット登録</a>

      <a class="nav-item nav-link" href="#">チケット一覧</a>

    </div>

  </div>

</nav>


    <title>チケット一覧</title>
  </head>
<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" type="text/css" href="../GW_app/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css">
<script type="text/javascript" src="../GW_app/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="..//GW_app/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.ja.min.js"></script>

  <body>
    <h1 class="text-center">チケット一覧</h1>
<!-- DBで保持しているチケットの一覧を表示する-->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>カテゴリ</th>
        <th>題名</th>
        <th>担当者</th>
        <th>ステータス</th>
        <th>開始日</th>
        <th>期日</th>
        <th>進捗率</th>
        <th>ウォッチャー1</th>
        <th>ウォッチャー2</th>
        <th>ウォッチャー3</th>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
          <td>要件定義</td>
          <td>絶望の定義について考える</td>
          <td>安田 萌々花</td>
          <td>着手</td>
          <td>2018/04/01</td>
          <td>2018/04/07</td>
          <td>進捗30%</td>
          <td>たなまな</td>
          <td>きっしー</td>
          <td>ぐっさん</td>
      <tr>
        <th scope="row">2</th>
          <td>要件定義</td>
          <td>絶望の定義について考える</td>
          <td>安田 萌々花</td>
          <td>着手</td>
          <td>2018/04/07</td>
          <td>進捗30%</td>
          <td>たなまな</td>
          <td>きっしー</td>
          <td>ぐっさん</td>
      </tr>
    </tbody>
  </table>

      </div>
  </body>
</html>
