@import "bootstrap";

.statusdelay {background-color: salmon;}
.statuscomp {background-color: gainsboro;}
.statusdelaycomp {background-color: gainsboro;}

body {
    padding-bottom: 60px;
    color: #ffffff;
    background-color: #303030;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

tbody, thead{
  color: #ffffff;
}
